body{

}
.fondito{
  background-color: #6c8c5c;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  width: 620px;
  height: 370px;
  position: relative;
  box-shadow: 5px 5px 25px #888888;
}

.contorno{
  position: absolute;
  margin: 10px;
  border: 1px solid white;
  width: 600px;
  height: 350px;

}

.porteria{
  position: absolute;
  width: 100px;
  height: 150px;

}

.porteriaIzquierda{

  left:0;
  top: 25%;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.porteriaDerecha{
  right: 0;
  top: 25%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.centro{
  position: absolute;
  top:  25%;
  left: 36%;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 1px solid white;
}



.bolita{
  background-color: white;
  position: absolute;
  top:100px;
  left:150px;
  width: 10px;
  height: 10px;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 10px;
}
